cartopy
cdsapi
cfgrib  
dask
h5netcdf
matplotlib 
netcdf4
h5netcdf
pandas 
requests
scipy
xarray 
albumentations
opencv-contrib-python
imageio
imageio-ffmpeg
pytorch-lightning
omegaconf
test-tube
streamlit
einops
transformers
webdataset
kornia
torch
torchvision
open_clip_torch
invisible-watermark
streamlit-drawable-canvas
torchmetrics
timm
addict
yapf
prettytable
safetensors
basicsr 